<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
        <link href="/resources/css/bootstrap.css" rel="stylesheet">
        <script src="/resources/js/jquery.js"></script>
        <script src="/resources/js/popper.js"></script>
        <script src="/resources/js/bootstrap.js"></script>
    </head>
    <body>
        {{ render(controller(
        'App\\Controller\\NavbarController::index'
    )) }}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
